<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" [(opened)]="openSideNav" style="min-width: 350px">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <side-nav (restartGame)="onRestartGame(); sidenav.close()"
              (loadGame)="onLoadGame($event); sidenav.close()"
              (deleteLastSavedGame)="onDeleteSavedGame($event); sidenav.close()"
              (undo)="undo(); sidenav.close()"
              (addPlayer)="onAddPlayer();  sidenav.close()"
              ></side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="flex space-between">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>YatzyLappen<fa-icon icon="dice"></fa-icon></span>
      @if (store) {
        <div style="min-width: 80px">
          @if (!store.disableAddPlayerButton()) {
            <button mat-icon-button (click)="onAddPlayer()">
              <mat-icon>person_add</mat-icon>
            </button>
          }
          @if (!store.disableUndoButton()) {
            <button mat-icon-button (click)="undo()">
              <mat-icon>undo</mat-icon>
            </button>
          }
        </div>
      }
    </mat-toolbar>

    <div class="flex center">
      <game-protocol class="flex"></game-protocol>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
