<div style="display: flex; justify-content: center;">
  <h2>YatzyLappen</h2>
  <fa-icon icon="dice"></fa-icon>
</div>

<div style="display: flex; justify-content: center;">
  <game-protocol></game-protocol>
</div>
<div class="icons">
  <button mat-fab color="primary" [disabled]="disableAddPlayerButton | async" (click)="onAddUser()">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-fab color="accent" [disabled]="disableUndoButton | async" (click)="undo()">
    <mat-icon>undo</mat-icon>
  </button>
</div>

