section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

h1, section {
  margin-top: 1rem;
}

.version-info {
  text-align: center;
  color: #888;
  font-size: 0.75rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
