@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "styles/themes";

.dark {
  @include side-nave-theme($dark-theme-bg, 10%);
  @include game-protocol-style(
      $dark-theme-bg,
      $dark-theme-border,
      $dark-theme-font,
      $dark-theme-valid,
      $dark-theme-strike,
  );
}
.light {
  @include side-nave-theme(white, 5%);
  @include game-protocol-style(
      $light-theme-bg,
      $light-theme-border,
      $light-theme-font,
      $light-theme-valid,
      $light-theme-strike
  );
}

html, body { height: 100%; }

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.center {
  justify-content: center;
  }
}
